modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Angular App"

[[workflows.workflow]]
name = "Run Angular App"
author = 40218681

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd auth-app && ng serve --host 0.0.0.0 --port 8080 --disable-host-check"

[[ports]]
localPort = 8080
externalPort = 80
